<mat-card>
    <h4 class="text-center">Login</h4>

    <form [formGroup]="loginForm" class="form mt-4" (submit)="login()">
    
        <mat-form-field class="form-group" appearance="outline">
            <mat-label>Usuário</mat-label>
            <input
             matInput
                formControlName="ID" 
                autofocus>
                <mat-error *ngIf="loginForm.get('ID')?.hasError('required')">
                    Entre com um usuário.
                </mat-error>          
        </mat-form-field>
    
        <mat-form-field class="form-group" appearance="outline">
            <mat-label>Senha</mat-label>
            <input
            matInput
                formControlName="chaveAcesso" 
                type="password">
                <mat-error *ngIf="loginForm.get('chaveAcesso')?.hasError('required')">
                    Entre com a senha
                </mat-error>
                                            
        </mat-form-field>
        
            <button [disabled]="loginForm.invalid" type="submit" class="mt-2 btn btn-primary btn-block">login</button>     
    
    </form>
</mat-card>