//## Colors

//### Primary

$colorPrimaryA: hsl(300, 43%, 22%);
$colorPrimaryB: hsl(333, 80%, 67%);

//### Neutral

$colorNeutralA: hsl(303, 10%, 53%);
$colorNeutralB: hsl(300, 24%, 96%);
$colorNeutralC: hsl(0, 0%, 100%);

//## Typography

$font: 'League Spartan', sans-serif;

//### Body Copy
body {
    background: white;
    background-image: url(../images/bg-pattern-top-desktop.svg), url(../images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left top, right bottom;
    font-family: $font;
    font-size: 15px;
    margin-top: 75px;
    min-width: $m-device;
}

.grid-6 {

    margin-top: 40px;
    max-height: 275px;

}

.infomaintext {
    color: $colorPrimaryA;
    margin-left: 150px;
    margin-right: 150px;

    @include s(m) {
        margin: 0px;
        text-align: center;
    }

    p:first-child {

        font-size: 50px;
        font-weight: bold;
        line-height: 50px;
        margin-bottom: 20px;
    }

    p {

        margin-bottom: 40px;
        margin-right: -12px;
        line-height: 25px;
        font-size: large;
    }
}

.infostar {
    margin-bottom: 40px;
    margin-left: 0px;
    margin-right: 150px;
    height: 235px;

    @include s(m) {
        margin: 0px;
        text-align: relative;
    }
}
.starimage1,
.starimage2,
.starimage3 {

    color: $colorPrimaryA;
    font-weight: bold;
    margin-bottom: 15px;
    background-color: $colorNeutralB;
    border-radius: 2%;
    padding: 15px 20px;
}

.starimage1 {
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 150px;
    display: flex;

    @include s(m) {
        margin-right: 0px;
        padding: 15px 20px;
        display: block;
        align-items: center;
        text-align: center;
    }
}

.starimage2 {
    margin-left: 35px;
    margin-right: 100px;
    display: flex;

    @include s(m) {
        margin-left: 0px;
        margin-right: 0px;
        padding: 15px 20px;
        display: block;
        align-items: center;
        text-align: center;
    }
}

.starimage3 {
    margin-bottom: 0px;
    margin-left: 75px;
    margin-right: 40px;
    display: flex;

    @include s(m) {
        margin-left: 0px;
        margin-right: 0px;
        padding: 15px 20px;
        display: block;
        align-items: center;
        text-align: center;
    }
}

.star {
    margin-left: 5px;
}

.rated {
    margin-left: 20px;
}

// ReportUser

.userreport {
    @include s(m) {
        padding: 0px;
        text-align: center;
    }
}

.grid-4 {    
    background: $colorPrimaryA;
    color: $colorNeutralC;
    border-radius: 2%;
    margin-left: 150px;
    padding: 40px;    
    max-width: 350px;
}

.reportuser1 {
    margin-top: 20px;

    @include s(m) {
        margin: 12px 0px 0px 12px;
        align-items: center;
    }
}

.reportuser2 {
    margin-left: 10px;
    margin-top: 40px;

    @include s(m) {
        margin: 12px 0px 0px 12px;
        align-items: center;
    }
}

.reportuser3 {
    margin-left: 10px;
    margin-top: 60px;

    @include s(m) {
        margin: 12px 0px 0px 12px;
        align-items: center;
    }
}

.userimage,
.userverified {

    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
}

.userimage {
    border-radius: 50%;
    margin-right: 15px;
    max-width: 40px;
    max-height: 40px;
}
.name {
    font-weight: bold;
}

.verifiedbuy {
    color: $colorPrimaryB;
}

blockquote {
    margin-top: 20px;
    line-height: 25px;
}

.grid-12 {
    margin-top: 20px;
    text-align: center;
    font-family: $font;
    font-weight: bold;
}