<!--
<div>
    <h2>Tópicos abordados no capítulo:</h2>
    <ul>
        <li>BrowserModule vs CommonModule.</li>
        <li>Single Page Application e rotas no lado do navegador.</li>
        <li>O módulo RouterModule.</li>
        <li>A diretiva router-outlet como grande lacuna para exibição de outros componentes.</li>
        <li>Módulo de rotas e definição de rotas.</li>
        <li>Como lidar com páginas 404.</li>
        <li>Parametrizando rotas e como obter valores do segmento parametrizado.</li>
    </ul>
</div>-->
