//Uso de condicionais.

$tema: oceano;
$primary-color: black;
$secondary-color: gray;

@if $tema==oceano {
    $primary-color: blue;
    $secondary-color: orange;
}

@else if $tema==deserto {
    $primary-color: yellow;
    $secondary-color: purple;
}

@mixin type-1($size) {
    font-family: monospace;
    font-weight: normal;

    @if $size==16 {
        font-size: 1em;
        font-weight: normal;
    }
    @else if $size == 18 {
        font-size: 1.25em;
        font-weight: normal;
    }
    @else if $size == 24 {
        font-size: 1.5em;
        font-weight: bold;
    }
}
//Uso de condicionais para responsividade

@mixin d($device) {
    @if $device == m {
        @media(max-width: 300px){
            @content
        }
    }
    @else if $device == t {
        @media(max-width: 600px){
            @content
        }
    }
    @else if $device == s {
        @media(max-width: 900px){
            @content
        }
    }    
}
div{
    width: 100%;
    @include d(t){
        width: 80%;
    }
    @include d(m){
        width: 60%;
    }
}

@mixin title-large {
    font-size: 4em;
    font-weight: bold;
    font-family: monospace;
    line-height: 1;
}

//Ajuda com prefixios
@mixin border-box {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

}

//Utilizando mixin como separador
@mixin separador($color: yellow, $largura: 400px) {
    &::after {
        content: '';
        display: block;
        width: $largura;
        height: 4px;
        background: $color;
    }
}

@mixin box-shadow($shadow...) {
    box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    webkit-box-shadow: $shadow;
}

@mixin mobile {
    @media (max-width: 600px) {
        @content;
    }
}

$cor_primaria: blue;
$font_primaria: monospace;

section {
    max-width: 600px;
    margin: 0 auto;
    @include border-box();
}

.modal {

    @include box-shadow(10px 10px 0 0 rgba(0, 0, 0, .5),
        15px 15px 0 0 rgba(0, 0, 0, .5),
        20px 20px 0 0 rgba(0, 0, 0, .5));

    h1 {
        color: $cor_primaria;
        font-family: $font_primaria;
        @include title-large();
        @include separador();

        @include mobile() {
            color: #84E;
            font-size: 2em;
        }
    }

    //Estilo Nesting de propriedade: Aqui pode colocar somente as atribnuições com relação as configurações.
    p {
        font: {
            size: 1.2em;
            family: $font_primaria;
            style: italic;
        }

        line-height: 1.4;
        max-width: 400px;

    }

    a {
        display: block;
        max-width: 120px;
        padding: 10px;
        border-radius: 4px;
        text-align: center;
        background: $cor_primaria;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-family: $font_primaria;
    }
}

ul {
    text-align: center;

    li {
        display: inline-block;
        list-style: none;

        a {
            display: block;
            padding: 20px;
            text-decoration: none;
            background: blue;
            color: white;

            &:hover {
                background: pink;
            }
        }
    }
}