a[target="_blank"]::after {
    content: url(../imagens/newWindow-icon.png);
}

a[href$=".pdf"]::before {
    content: url(../imagens/pdf-icon.gif);
}

input[type="checkbox"]:checked+label {
    color: green;
}

input[type="checkbox"]:not(:disabled)+label {
    color: red;
}

input[type="checkbox"]:disabled+label {
    color: blue;
}

li li:nth-child(3) {
    background-color: yellow;
}