body{
    font-family: sans-serif;
    color: black;
    width: 700px;
    margin: auto;
    background: url(imagens/belapraia.jpg);
    background-repeat: no-repeat;
    background-size:cover ;
    background-attachment: fixed;
    background-position: right bottom;

     
}

.Img-logo{
    width: 400px;
}

.Float-Left{
    float: left;
}

.Float-Right{
    float: right;
}
.Lorem{
    line-height: 2 ;
    text-align: justify;
}