<ol class=" container list-unstyled">
    <li *ngFor="let colunas of linhas" class="row mb-5">
        <div *ngFor="let personagem of colunas" class="col-3">
          <a [routerLink]="['/character', personagem.id]">
            <rm-personagem 
              (click)="clicouIndividual(personagem.id)"     
              [image] = "personagem.image" 
              [name] = "personagem.name"
              [species]="personagem.species"
              [gender]="personagem.gender"
              [status]="personagem.status">              
            </rm-personagem>
          </a>
        </div>
    </li>
  </ol>
  