<div class="wrapper">
  <h4 class="header">Cadastro de Produtos</h4>


  <aside class="aside aside-1">
    <article class="main">
      <form [formGroup]="productForm" class="form mt-4" (submit)="addProducts()">

        <div>
          <mat-form-field class="form-group" appearance="outline">
            <mat-label>Código de Barras :</mat-label>
            <input matInput type="text" formControlName="codigoBarras" required maxlength="50">
            <mat-error *ngIf="productForm.get('codigoBarras')?.hasError('required')">
              Código de barras é requerido!
            </mat-error>                        
          </mat-form-field>
          <br>
          <br>
        </div>

        <div>
          <mat-form-field class="form-group" appearance="outline">
            <mat-label>Nome :</mat-label>
            <input matInput type="text" formControlName="nome" required maxlength="50">
            <mat-error *ngIf="productForm.get('nome')?.hasError('required')">
              Nome é requerido!
            </mat-error>                       
          </mat-form-field>
          <br>
          <br>
        </div>

        <div>
          <mat-form-field class="form-group" appearance="outline">
            <mat-label>Preço :</mat-label>
            <input matInput type="number" formControlName="preco" required maxlength="50">
            <mat-error *ngIf="productForm.get('preco')?.hasError('required')">
              o preço é requerido!
            </mat-error>                       
          </mat-form-field>
          <br>
          <br>
        </div>

        <div>
          <mat-form-field class="form-group" appearance="outline">
            <mat-label>Imagem :</mat-label>
            <input matInput type="text" formControlName="base64" required maxlength="50">
            <mat-error *ngIf="productForm.get('base64')?.hasError('required')">
              Imagem requerida!
            </mat-error>                       
          </mat-form-field>
          <br>
          <br>
        </div>

        <button [disabled]="productForm.invalid" mat-raised-button color="primary" type="submit">Salvar</button>
      </form>

    </article>
  </aside>
</div>