h1, a, p{
    font-family: sans-serif;
}

a{
    padding: 10px;
    display: inline-block;
    background-color: aqua;
}

a:link{
    color: red;
}
a:visited{
    color: green;
}
a:hover{
    color: #ccc;
}

a:active{
    color: yellow;
}