body{
    font-family: sans-serif;
}

ul li{
    list-style-type: disc;
    color: red;
    list-style-position: inside;
}

ol li{
    list-style-type: lower-alpha;
    color: blue;
    list-style-position: inside;
}