:root {
    --fonte: sans-serif;
    --fonte-size-principal: x-small;
    --cor-dos-titulos: #061761;
    --cor-dos-titulos-experiencias: #070BEB;
    --background-dos-titulos: #ACAFD4;
    --background-dos-subtitulos: #B6B6B6;

}

body {
    background-color: #CCCCCC;
    font-family: var(--fonte);
    margin: 25px 50px;
    font-size: var(--fonte-size-principal);
}

h1 {
    background-color: var(--background-dos-titulos);
    text-align: center;
    color: var(--cor-dos-titulos);
    font-size: 30px;
    font-weight: bolder;
    padding: 5px;
}

header p {
    text-align: center;
    font-size: var(--fonte-size-principal);
    padding: 10px;
}

.Subtitulos {
    color: var(--cor-dos-titulos);
    background-color: var(--background-dos-subtitulos);
    font-size: 25px;
    font-weight: bolder;
    border-bottom: 2px solid var(--cor-dos-titulos);
    padding: 10px;
    margin: 15px 0px 15px;
}

.Subtitulos-experiencias strong {
    color: var(--cor-dos-titulos-experiencias);
    font-weight: bolder;
    display: inline-block;
    font-size: 15px;
}

.Subtitulos-experiencias {
    font-weight: bolder;
    font-size: 15px;
    padding-bottom: 10px;
}

.Subtitulos-experiencias-periodo {
    font-weight: bolder;
    font-size: 15px;
    padding-bottom: 10px;
}

.Subtitulos-experiencias-cargo {
    font-weight: bolder;
    font-size: 12px;
    padding-bottom: 10px;
}

.Subtitulos-experiencias-funcao {
    padding-bottom: 10px;
}

.Subtitulos-formacao {
    font-weight: bolder;
    font-size: 13px;
    padding-bottom: 10px;
}

.Subtitulos-formacao-periodo {
    padding-bottom: 10px;
}

.Subtitulos-formacao-faculdade {
    padding-bottom: 10px;
}

.Cursos-Especializacoes {
    padding-bottom: 10px;
}

.Subtitulos-listaCursosEspecializacoes {
    list-style: inside;

}

.List1 {
    padding-bottom: 10px;
}

.Subtitulos-cursosEspecializacoes-cursos {
    font-weight: bolder;
    font-size: 13px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.Contato h2 {    
    background-color: var(--background-dos-subtitulos);
    margin-bottom:  0px;   
}

.RedesSociais {
       text-align: center;
       background-color: var(--background-dos-titulos);
       padding: 10px 0px;        
        }

.RedesSociais li {
    display: inline-block;
    margin: 20px;
    padding: 16px;
}

li a {
    background-color: #CCC;
    text-decoration: none;
    padding: 16px;
    color: #061761;
}

a:hover{
    background-color: #fff;
}


.Desenvolvedor {
    font-size: 8px;
    font-weight: bolder;
    text-align: end;
}