<form class="container">  
  <div class= " row-1 mb-5 mt-5">
    <div class="btn col-3">
      <i class="rounded"></i>      
        <input
          class="rounded"  
          style="width:238px; height:45px;font-family:FontAwesome"
          type="search"
          placeholder= "&#xF002; Filter by name..."
          autofocus
          (keyup)="debounce.next($any($event.target).value)">    
    </div>
  
    <div class="btn col-3">
      <button class="rounded dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width:238px; height:45px;font-family:FontAwesome">
        Species
      </button>
    </div>
    
    <div class="btn col-3">
      <button class="rounded dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"         aria-haspopup="true" aria-expanded="false" style="width:238px; height:45px;font-family:FontAwesome">
          Gender
      </button>
    </div>
    
    <div class="btn col-3">
      <button class="rounded dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"   aria-haspopup="true" aria-expanded="false" style="width:238px; height:45px;font-family:FontAwesome">
          Status
        </button>
    </div>
  </div>
  </form>

<rm-personagens [personagens]="personagens | filtroPorNome: filtro"></rm-personagens>
<rm-botao-load (click)="load()" [exibirMais]="exibirMais"></rm-botao-load>
