<div class="container" style="text-align: center">
  <img src="../../../assets/img/rickandmorty.svg" alt="Imagem RickandMorty" />
</div>

<form class="container text-align">
  <div class="col-12 mb-5 mt-5" style="display: flex; text-align: center">
    <div class="col-3">
      <div class="btn">
        <input
          class="rounded filtro"
          style="width: 238px; height: 45px; font-family: FontAwesome"
          type="search"
          placeholder="&#xF002; Filtro por nome..."
          autofocus
          (keyup)="debounce.next($any($event.target).value)"
        />
      </div>
    </div>

    <div class="col-3">
      <div class="btn">
        <button
          class="rounded dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          style="width: 238px; height: 45px"
        >
          Species
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a
            class="dropdown-item"
            (click)="clicouSpecie(species)"
            *ngFor="let species of SpeciesFiltrado; let i = index"
          >
            {{ species }}
          </a>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="btn">
        <button
          class="rounded dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          style="width: 238px; height: 45px"
        >
          Gender
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a
            class="dropdown-item"
            (click)="clicouGender(gender)"
            *ngFor="let gender of GenderFiltrado; let i = index"
          >
            {{ gender }}
          </a>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="btn">
        <button
          class="rounded dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          style="width: 238px; height: 45px"
        >
          Status
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a
            class="dropdown-item"
            (click)="clicouStatus(status)"
            *ngFor="let status of StatusFiltrado; let i = index"
          >
            {{ status }}
          </a>
        </div>
      </div>
    </div>
  </div>
</form>

<rm-personagens [personagens]="personagens"></rm-personagens>
<rm-botao-load (click)="load()" [hasMore]="hasMore"></rm-botao-load>
