//Variáveis do grid
$cols: 12;
$gutter: 20px; //Margens
$l-device: 1200px; //large-device: Dispositivos largo
$m-device:  760px; //medium-device: Dispositivos médio
$s-device:  480px; //Small-device: Dispositivos pequenos

//Box sizing
*, *::after, *::before{
box-sizing: border-box;
}

//Mixin de media=query
@mixin d($size) {
    @if $size == l {
        @media screen and (min-width: $l-device){
            @content;
        }        
    }
     @else if $size == m {
        @media screen and (min-width: $m-device) and (max-width: $l-device - 1){
            @content;
        }        
    }
    @else if $size == s {
        @media screen and (max-width: $m-device - 1){
            @content;
        }        
    }
}

p {
    color: blue;
    @include d(m) {
    color: pink;
    }
    @include d(s) {
        color: aqua;
    }
}
