body {}

#banner {
    width: 100%;
}

.principal {
    background: #CCCCCC;
    padding: 30px;
}

h1,
p {
    text-align: center;

}

#p2 em strong {
    font-size: 20px;
    color: #FF0000;
}

.itens {
    font-style: italic;
}

.beneficios {
    background: #FFFFFF;
    padding: 20px;
}

h2 {
    text-align: center;
}
ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imgbeneficios{
    width: 50%;
}